<?xml version="1.0" encoding="utf-8" ?>
<phpunit 
    colors="true" 
    bootstrap="vendor\autoload.php"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
>
  <testsuites>
    <testsuite name="php-sms testsuite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
</phpunit>